.book-banner{
  height: 60vh;
  background-color: #548BA1;

  .navbar{
    padding: 50px;
  }

  .ul-items{
    display: flex;
    justify-content: space-between;
  }

  .li-items{
    margin-left: 40px;
    list-style-type: none;
  }

  .banner-title{
    padding: 50px;
  }
}
