<div class="book-banner">

  <div class="navbar">
    <div class="logo">
      <p class="logo-title">BOOKSTORE</p>
    </div>

    <div>
      <ul class="ul-items">
        <li class="li-items">Home</li>
        <li class="li-items">Login</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

</div>
